
body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
  background: url('https://images.unsplash.com/photo-1549921296-3a6b6b3b2e4f?auto=format&fit=crop&w=1950&q=80') no-repeat fixed center;
  background-size: cover;
  color: #e0e0e0;
}

a {
  color: #64b5f6;
  text-decoration: none;
}

header {
  background-color: rgba(31, 31, 31, 0.9);
  color: white;
  padding: 20px;
}

.logo-titulo {
  display: flex;
  align-items: left;
  justify-content: space-between;
}

.logo-izquierda {
  width: 60px;
  height: 60px;
  margin-left: 20px;
}

.titulo-centro {
  flex: 1;
  text-align: center;
  margin-right: 60px;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

nav ul li a {
  color: white;
  font-weight: bold;
}

main {
  padding: 30px 20px;
  max-width: 1000px;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
}
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 500px;
 } 
